<!doctype html>
	<link rel="stylesheet" type="text/css" href="static/styles.css">

	<h1>CS496 OAuth2.0 Implementation</h1>
	<h2>David Yan - Yanda</h2>

	<p>You might be wandering the web and suddenly stumbling on this page. <br> And you may wonder to yourself, what is the point of this site?<br> Well this is a OAuth2.0 Site for a class assignment.<br> Do you want to know more about using OAuth to use Google's APIs? Click <a href="https://developers.google.com/identity/protocols/OAuth2">Here</a><br></p>

	<p>For this site, I am going to use your google login to display your full name, email, link to your google plus account, and a state variable for encryption<br></p>

	<p> If you don't feel comfortable with that, don't log in below<br> Otherwise click the link to proceed</p>

	<div>
	<a href="{{ url }}">Sign in with Google</a>
	</div>
</html>