<!doctype html>
	<link rel="stylesheet" type="text/css" href="static/styles.css">

	<h1>CS496 Final Project</h1>
	<h2>David Yan - Yanda</h2>
	
	<div>
	<p>Welcome to my REST API final project. Log into your google accont in order to get a verified id token to use with my REST API</p>
	<p>If you want to see more information feel free to look at the documentation</p>
	<p><a href="https://drive.google.com/file/d/0B5jHpjaq0GQvWDh6T1E4TEtXVkE/view?usp=sharing"> Check it out here</p>
	<p></p>
	<a href="{{ url }}">Sign in with Google</a>
	</div>
</html>